@model IEnumerable<XrmPro_MVC.Models.StudentModel>

@{
    ViewData["Title"] = "All Students";
}

<h2>All students</h2>

<p>
    <a asp-action="Add">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Имя</th>
            <th>Email</th>
            <th>Логин на github</th>
            <th>Редактирование</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@item.Name</td>
            <td>@item.Email</td>
            <td>@item.Git</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { item.Id }) |
                @Html.ActionLink("Details", "Details", new { item.Id }) |
                @Html.ActionLink("Remove", "Remove", new { item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
